* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 31, 43);
}

#top-wrapper {
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Geneva, sans-serif;
}

code {
    font-family: "Courier New", Courier, monospace;
}

header {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

header div {
    display: flex;
}

nav {
    display: inline-flex;
    flex: 1 1 100%;
}

nav ul {
    display: inline-flex;
    flex: 1 1 100%;
}

nav li, header h2 {
    display: inline-flex;
    flex: 1 1 0;
    align-items: center;
}

nav li a {
    flex: 1 1 0;
}

header h2 {
    border-right: 1px solid lightgrey;
    padding-right: 20px;
    letter-spacing: 3px;
    font-size: 16pt;
    font-family: Arial, sans-serif;
}

.siteTitleColoredPart {
    color: chocolate;
    font-weight: bold;
}

.lastName {
    font-variant: small-caps;
}

nav li {
    padding: 20px 20px;
    border-bottom: 5px solid;
}

nav li:nth-child(1) {
    border-bottom-color: indianred;
}

nav li:nth-child(2) {
    border-bottom-color: limegreen;
}

nav li:nth-child(3) {
    border-bottom-color: steelblue;
}

nav #currentNavItem:nth-child(1) {
    background-color: #CD8A8D;
}

nav #currentNavItem:nth-child(2) {
    background-color: #6ECD6B;
}

nav #currentNavItem:nth-child(3) {
    background-color: #739AB4;
}

nav li:hover {
    background-color: azure;
}

nav li:active, #currentNavItem {
    background-color: rgba(161,172,181,0.78);
}

nav a, nav a:visited, nav a:hover {
    text-decoration: none;
    color: inherit;
}

main > div, footer > div, header > div {
    width: 1000px;
    margin: 0 auto;
}

main {
    text-align: justify;
    padding: 30px 0;
}

main p {
    margin-bottom: 20px;
}

footer {
    padding: 20px 0;
    margin-bottom: 10px;
    color: rgba(125, 134, 163, 0.69);
    background-color: rgb(29, 31, 43);
}